[buildout]
develop = .
          zc.buildout
          zc.buildout/zc.recipe.egg_
parts = test
        interpreter
include-site-packages = false

[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.filetemplate

[interpreter]
recipe = zc.recipe.egg
interpreter = py
eggs = z3c.recipe.filetemplate

